<% @page_title = "Panel Details" %>

    <h1><%= @page_title %></h1>
  </div>
</div>
</div>
<p class="alert alert-success"><%= notice %></p>
<div class="container">
<p>
  <strong>Panel Name:</strong>
  <%= @panel.panel_name %>
</p>

<p>
  <strong>Wire length:</strong>
  <%= @panel.wire_length %>
</p>

<p>
  <strong>Init fault:</strong>
  <%= number_with_precision(@panel.init_fault, precision: 2) %>
</p>

<p>
  <strong>Runs:</strong>
  <%= @panel.runs %>
</p>

<p>
  <strong>Voltage:</strong>
  <%= @panel.voltage %>
</p>

<p>
  <strong>C value:</strong>
  <%= @panel.c_value %>
</p>

<p>
  <strong>Wire Size:</strong>
  <%= @panel.wire_size %>
</p>

<p>
  <strong>Wire Type:</strong>
  <% if @panel.wire_type == 1 %>
    <%= "Copper" %>
    <% else %>
      <%= "Aluminum" %>
  <% end %>
</p>
  <strong>Conduit Type:</strong>
  <% if @panel.wire_type == 1 %>
    <%= "Magnetic" %>
    <% else %>
      <%= "Non-Magnetic" %>
  <% end %>
</p>
  <strong>Type of Run:</strong>
  <% if @panel.wire_type == 1 %>
    <%= "Three Single Conductors" %>
    <% else %>
      <%= "Three Conductor Cable" %>
  <% end %>
</p>
<%= link_to 'Edit', edit_panel_path(@panel), class: "btn btn-md btn-success" %>    
<%= link_to "Back to Panels", {controller: "panels", action: "index",
 project_id: @panel.project_id}, class: "btn btn-md btn-default" %>
 </div>