<p id="notice"><%= notice %></p>
<% @page_title = "User Details" %>

    <h1><%= @page_title %></h1>
  </div>
</div>
</div>
<div class="container">
<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-md btn-success" %> 
<%= link_to 'Back', users_path, class: "btn btn-md btn-default" %>
</div>