<% @page_title = "Admin Menu" %>




    <h1><%= @page_title %></h1>
	</div>
</div>
</div>
	<div class="container">
		<div class="row">
			<ul class="nav nav-pills nav-justified">
				<li><%= link_to "Login", {:controller => 'access', :action => 'login'}, class: "btn btn-md btn-primary" %></li>
				<li><%= link_to "Manage Users", {:controller => 'users'}, class: "btn btn-md btn-success" %></li>
				<li><%= link_to "Logout", {:action => 'logout'}, class: "btn btn-md btn-primary" %></li>
			</ul>
		</div>
	</div>

	<% if !flash[:notice].blank? %>
<div class="alert alert-danger fade in">
			<%= flash[:notice] %>
</div>
	<% end %>